@import '../../../styles/mixins';

.contact-page {
  .page-title-container {
    p {
      margin-bottom: 3em;
    }
  }

  .contact-form {
    width: 95%;
    margin-bottom: 3em;

    input,
    textarea {
      outline: none;
      color: #fff;
      width: 100%;
      height: 45px;
      margin-bottom: 1em;
      border: none;
      padding: 0 0 0 1em;
      background: #2b2b2b;
    }

    textarea {
      padding: 1em 0 0 1em;
      min-height: 100px;
      resize: vertical;
      @include desktop() {
        min-height: 150px;
      }
    }

    button {
      text-transform: uppercase;
      background: none;
      border: 1px solid #fff;
      color: #fff;
      padding: 0.5em 2em;
      border-radius: 2px;
      cursor: pointer;
      display: block;
      transition: all 100ms ease-in-out;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  .contact-links {
    .contact-link {
      margin-bottom: 2em;
      display: flex;
      align-items: center;
      span {
        font-size: 1.1rem;
      }
      i {
        margin-bottom: 0.2em;
        margin-right: 0.5em;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    @include tablet() {
      display: none;
    }

    i {
      margin-right: 0.5em;
      transition: all 100ms ease-in-out;
      @include tabletPro() {
        margin-right: 1em;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
