.footer {
   text-align: center;
   width: 80%;
   margin: 1em auto;
   line-height: 1.5em;

   @media only screen and (min-width: 768px) {
      width: 65%;
   }

   @media only screen and (min-width: 1024px) {
      width: 60%;
      margin-top: 3em;
   }

   p {
      color: #cacaca;

      .email {
         font-weight: bold;
         color: #fff;
      }
   }
}
