@import "../../styles/mixins";

.footer {
   text-align: center;
   width: 90%;
   margin: auto;
   line-height: 1.5em;
   margin-top: 2em;
   // position: absolute;
   // bottom: -8em;

   @include tablet {
      width: 70%;
      // bottom: -5em;
   }

   @include tabletPro {
      width: 50%;
      // bottom: 0;
   }

   p {
      color: #cacaca;

      .email {
         font-weight: bold;
         color: #fff;
      }
   }
}
