@mixin phone {
   @media (min-width: 10px) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: 768px) {
      @content;
   }
}

@mixin tabletPro {
   @media (min-width: 1024px) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: 1200px) {
      @content;
   }
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url('/img/bg.jpg');
   background-size: 100%;
}

ul {
   list-style: none;
   padding: 0;
}

a {
   text-decoration: none;
   color: #444444;
}

// PAGE

.page {
   width: 90%;
   margin: auto;
   color: #f4f4f4;
   display: flex;
   flex-direction: column;
   margin-top: 5em;

   @include tablet {
      width: 70%;
      margin-top: 8em;
   }

   @include tabletPro() {
      width: 50%;
   }

   .page-title-container {
      p {
         line-height: 1.5em;

         @include tabletPro() {
            font-size: 1.2rem;
         }
      }
   }

   .page-title {
      font-size: 2.5rem;
   }
}

// NOT FOUND PAGE

.not-found-page {
   justify-content: center;
   align-items: center;
   margin-top: 0;
   height: 100vh;

   .not-found-page__card {
      background: #fff;
      color: #000;
      border-radius: 10px;
      padding: 1em 1em 2em 1em;
      width: 300px;

      h1 {
         font-size: 1.5rem;
      }

      p {
         margin-bottom: 2em;
      }

      span {
         border: 1px solid #000;
         padding: 0.5em 0.5em;
         transition: all 100ms ease-in-out;
         color: #000;

         &:hover {
            background: #000;
            color: #fff;
         }
      }
   }
}

// PORTFOLIO PAGE

.portfolio-page {
   .page-title-container {
      margin-bottom: 2em;

      @include tablet() {
         width: 70%;
      }

      @include tabletPro() {
         width: 80%;
      }

      @include desktop() {
         width: 70%;
      }
   }
   .projects {
      display: grid;
      grid-template-columns: 1fr;

      @include tabletPro() {
         grid-template-columns: 1fr 1fr;
         grid-gap: 2em;
         width: 80%;
      }

      @include desktop() {
         width: 70%;
      }

      .project-card {
         margin-bottom: 2em;
         width: 340px;
         height: 220px;

         @include tablet {
            width: 450px;
            height: 280px;
         }

         @include tabletPro() {
            margin-bottom: 0;
            width: 320px;
            height: 220px;
         }

         img {
            width: 100%;
            height: 100%;
         }
      }
   }
}





// PROJECT PAGE



// FOOTER

// KEYFRAMES

@keyframes text-animation {
   to {
      stroke-dashoffset: 0;
   }
}
@keyframes fill {
   from {
      fill: transparent;
   }
   to {
      fill: #fff;
   }
}

@keyframes revealOne {
   0% {
      transform: translate(-100%, 0);
   }
   100% {
      transform: translate(0, 0);
   }
}

@keyframes revealTwo {
   from {
      transform: translate(100%, 0);
      // opacity: 0;
   }
   to {
      transform: translate(0, 0);
      // opacity: 1;
   }
}
