@import '../../../styles/mixins';

.not-found-page {
  justify-content: center;
  align-items: center;
  height: 70vh;

  .not-found-page__card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 1em 1em 2em 1em;
    width: 300px;

    h1 {
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 2em;
    }

    span {
      border: 1px solid #000;
      padding: 0.5em 0.5em;
      transition: all 100ms ease-in-out;
      color: #000;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
